@page "{code:int}"
@model ErrorModel
@{
    ViewData["Title"] = @Model.Title;
}
<div class="container my-5">
    <h1 class="display-1 text-dark mb-0">@Model.Code</h1>
    <img id="roo" class="mw-100 mb-3" src="@Model.RooNoBooliUrl" />
    @if (Model.Title != Model.Code.ToString()) {
        <h4 class="display-4 text-dark">@Model.Title</h4>
    }
</div>
<script>var roo = document.getElementById("roo"); roo.onclick = () => roo.src = "@Model.RooYayUrl";</script>