@page "{id:int}"
@model iCTF_Website.Pages.TeamModel

@{
    ViewData["Title"] = Model.Team.Name;
}

<div class="container mb-3">
    <h2 class="m-3">@Model.Team.Name - @Model.Team.Score points
        @if (Model.Team.Score > 0) {
            @:(@Model.TeamStats.Position / @Model.TeamStats.PlayersCount)
         }</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h4>Solved Challenges</h4>
            @if (Model.TeamStats.SolvedChallenges.Count > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped table-light table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Challenge</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var chall in Model.TeamStats.SolvedChallenges)
                            {
                                <tr>
                                    <td>@chall.Title</td>
                                    <td>@chall.Points</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>Looks like this team hasn't solved any challenges yet :'(</p>
            }
        </div>
        <div class="col-md-6">
            <h4>Unsolved Challenges</h4>
            @if (Model.TeamStats.UnsolvedChallenges.Count > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped table-light table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Challenge</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var chall in Model.TeamStats.UnsolvedChallenges)
                            {
                                <tr>
                                    <td>@chall.Title</td>
                                    <td>@chall.Points</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>Looks like this team solved all the currently released challenges :)</p>
            }
        </div>
    </div>
    <div class="text-start">
        <h4>Team Members</h4>
        <ul>
            @foreach (var member in Model.Team.Members) {
                <li><a class="text-decoration-none gray-text cool-link fw-bold" href="/User/@member.Id">@(member.WebsiteUser?.UserName ?? member.DiscordUsername)</a></li>
            }
        </ul>
    </div>
</div>