@page "{id:int}"
@model iCTF_Website.Pages.UserModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="container mb-3">
    @if (Model.Player.Team != null)
    {
        <h2 class="m-3">
            @Model.Name
        </h2>
        <hr />
        <p>This player belongs to <a class="text-decoration-none text-dark cool-link" href="/Team/@Model.Player.Team.Id">@Model.Player.Team.Name</a> team.</p>
    }
    else
    {
        <h2 class="m-3">
            @Model.Name - @Model.Player.Score points
            @if (Model.Player.Score > 0)
            {
                @:(@Model.PlayerStats.Position / @Model.PlayerStats.PlayersCount)
            }
        </h2>
        <h4>
            @foreach (var role in Model.Roles)
        {
            <span class="badge bg-danger m-1">@role</span>
        }
            </h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <h4>Solved Challenges</h4>
                @if (Model.PlayerStats.SolvedChallenges.Count > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-light table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Challenge</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var chall in Model.PlayerStats.SolvedChallenges)
                                {
                                    <tr>
                                        <td>@chall.Title</td>
                                        <td>@chall.Points</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p>Looks like this user didn't solve any challenge yet :'(</p>
                }
            </div>
            <div class="col-md-6">
                <h4>Unsolved Challenges</h4>
                @if (Model.PlayerStats.UnsolvedChallenges.Count > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-light table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Challenge</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var chall in Model.PlayerStats.UnsolvedChallenges)
                                {
                                    <tr>
                                        <td>@chall.Title</td>
                                        <td>@chall.Points</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p>Looks like this user solved all the currently released challenges :)</p>
                }
            </div>
        </div>
    }
</div>