@page
@model iCTF_Website.Areas.Admin.Pages.ManagementModel

@{
    ViewData["Title"] = "Management";
}

<div class="container">
    <h1 class="text-center m-3">Admin Panel</h1>
    <div class="row mb-3">
        <partial name="_MenuPartial" />
        <div class="col-md-9 text-start">
            <h4>Roles Management</h4>
            <hr />
            @if (!string.IsNullOrEmpty(Model.Success))
            {
                <div>
                    <div class="alert alert-success">
                        @Model.Success
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <div>
                    <div class="alert alert-danger">
                        @Model.Error
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-6">
                    <form method="POST" asp-page-handler="add">
                        <div class="form-group">
                            <label asp-for="Input.Username"></label>
                            <input asp-for="Input.Username" class="form-control" />
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.RoleName"></label>
                            <select class="form-select" asp-for="Input.RoleName">
                                @foreach (var role in Model.Roles)
                                {
                                    <option value="@role">@role</option>
                                }
                            </select>
                            <span asp-validation-for="Input.RoleName" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-success mt-2 w-100">Add Role</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <form method="POST" asp-page-handler="remove">
                        <div class="form-group">
                            <label asp-for="Input.Username"></label>
                            <input asp-for="Input.Username" class="form-control" />
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.RoleName"></label>
                            <select class="form-select" asp-for="Input.RoleName">
                                @foreach (var role in Model.Roles)
                                {
                                    <option value="@role">@role</option>
                                }
                            </select>
                            <span asp-validation-for="Input.RoleName" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-danger mt-2 w-100">Remove Role</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>